@model OpenHumanDesign.Visualization.Schema.BodygraphSchema
@{
	Layout = null;
}
@foreach (var center in Model!.Centers)
{
	@Html.Raw($@".{center.Type.ToString().ToLower()}-center {{
	{Model.CommonSettings.CommonCenterCss}
	fill: {center.Color};
}}")
}
@Html.Raw(Model.CommonSettings.AdditionalCss);

.line1 {
	stroke: black; 
	stroke-width: 1px;
}
.line2 {
	stroke: gold;
	stroke-width: 1px;
}
.line3 {
	stroke: darkmagenta;
	stroke-width: 1px;
}
.line4 {
	stroke: cyan;
	stroke-width: 1px;
}
