﻿@model Microsoft.AspNetCore.Html.HtmlString
@using OpenHumanDesign.Visualization.Abstract
@{
    ViewData["Title"] = "Home Page";
	
}

<div class="text-center">
    <h1 class="display-4"></h1>
	<svg width="600px" height="800px" viewBox="-300 0 600 800" xmlns="http://www.w3.org/2000/svg">
		@Model
	</svg>
</div>
