.crown-center,
.g-center {
	stroke: black;
	filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.5));
	fill: yellow;
}

.mind-center {
	stroke: black;
	fill: mediumseagreen;
	filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.5));
}

.throat-center, 
.solar-plexus-center,
.splenic-center,
.root-center {
	stroke: black;
	fill: sandybrown;
	filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.5));
}

.heart-center,
.sacral-center {
	stroke: black;
	fill: indianred;
	filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.5));
}
.line1 {
	stroke: black; 
	stroke-width: 1px;
}
.line2 {
	stroke: gold;
	stroke-width: 1px;
}
.line3 {
	stroke: darkmagenta;
	stroke-width: 1px;
}
.line4 {
	stroke: cyan;
	stroke-width: 1px;
}

.channel {
	stroke: white;
	stroke-width: 4px;
}

.channel-contour {
	stroke: black;
	stroke-width: 6px;
	filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.5));
}

.gate-text {
	fill: black;
	font: 9px Helvetica;
	text-anchor: middle;
	alignment-baseline: middle;
}
